.inspectorRoot {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    overflow: scroll;
    border-radius: 0;
}

.inspectorModule {
    margin: 1vw;
    padding: 20px;
}

.inspectorTableRow {
    cursor: pointer
}

.inspectorTableRow:hover {
    background-color: #adadad !important;
}